body{
    background-color: #F5F5F4;
}
@media (max-width:2180px) {
    .bodyContent {
        display: flex;
        justify-content: space-between;
        /* margin-left:0px; */
    }

    .mainContainer {
        /* border: solid black; */
        height: 1900px;
        width: 740px;
        font-family: Rubik;
    }

    .header {
        /* border: solid red; */
        height: 50px;
        width: 1450px;
        display: flex;
        justify-content: space-evenly;
        background-color: #1056a5;
        color: white;
    }

    .headTxt {
        /* border: solid blue; */
        font-size: 20px;
    }

    .headBtn {
        margin-top: 5px;
        width: 130px;
        height: 40px;
        background-color: #FEC14F;
        font-weight: 900;
        font-size: 15px;
    }

    .cross {
        width: 40px;
    }

    .navBar {
        /* border: solid red; */
        height: 50px;
        width: 1450px;
        display: flex;
        justify-content: space-between;
    }

    .PSlogo {
        height: 22px;
        /* border: solid yellow; */
        margin-top: 10px;
        margin-left: 10px;
    }

    .menuDrop {
        width: 50px;
        margin-right: 30px;
    }

    .top {
        /* border: solid green; */
        display: block;
        position: relative;
    }

    .gap {
        height: 900px;
    }

    .bottom {
        position: relative;
    }

    .mainImg {
        /* border: solid purple; */
        object-fit: cover;
        height: 620px;
        width: 725px;
        position: absolute;
    }

    .introOne {
        position: absolute;
        display: block;
        height: 270px;
        width: 500px;
        margin-top: 510px;
        /* MARGIN-LEFT:20PX; */
        margin-right: 20px;
        background-color: white;
        padding-right: 30px;
        padding-left: 30px;
        margin-left: 80px;
    }

    .headlineOne {
        display: flex;
        align-content: flex-start;
        font-size: 11px;
        font-weight: 800;
    }
.headlineOneLogo {
        margin-right: 15px;
        margin-left: 20px;
    }
.headlineTwo {
        font-size: 25px;
        font-weight: 900;
    }
}
@media (max-width:900px) {
    .bodyContent {
        display: block;
    }
    .mainContainer {
        /* border: solid black; */
        height: 1900px;
        width: 740px;
        font-family: Rubik;
    }
    .header {
        /* border: solid red; */
        height: 50px;
        width: 900px;
        display: flex;
        justify-content: space-evenly;
        background-color: #1056a5;
        color: white;
    }
    .headTxt {
        /* border: solid blue; */
        font-size: 20px;
    }
    .headBtn {
        margin-top: 5px;
        width: 130px;
        height: 40px;
        background-color: #FEC14F;
        font-weight: 900;
        font-size: 15px;
    }
    .cross {
        width: 40px;
    }
    .navBar {
        /* border: solid red; */
        height: 50px;
        width: 850px;
        display: flex;
        justify-content: space-between;
    }
    .PSlogo {
        height: 22px;
        /* border: solid yellow; */
        margin-top: 10px;
        margin-left: 10px;
    }

    .menuDrop {
        width: 50px;
        margin-right: 30px;
    }

    .top {
        /* border: solid green; */
        display: block;
        position: relative;
    }

    .gap {
        height: 900px;
    }

    .bottom {
        position: relative;
    }

    .mainImg {
        /* border: solid purple; */
        object-fit: cover;
        height: 720px;
        width: 840px;
        position: absolute;
    }

    .introOne {
        position: absolute;
        display: block;
        height: 270px;
        margin-top: 630px;
        MARGIN-LEFT: 100PX;
        /* margin-right:10px; */
        background-color: white;
        padding-right: 30px;
        padding-left: 30px;
    }
    .headlineOne {
        display: flex;
        align-content: flex-start;
        font-size: 11px;
        font-weight: 800;
    }

    .headlineOneLogo {
        margin-right: 15px;
        margin-left: 20px;
    }

    .headlineTwo {
        font-size: 25px;
        font-weight: 900;
    }

    .introBtn {
        width: 500px;
        background-color: #FEC14F;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        font-weight: 700;
    }
}